.DS_Store
*.pyc
@webchecker.pickle
dist
CHANGES.txt
changelog_content
taskcoachlib/imported.xml
taskcoachlib/i18n/[a-z][a-z].py
taskcoachlib/i18n/[a-z][a-z]_[A-Z][A-Z].py
taskcoachlib/i18n/nds.py
taskcoachlib/i18n/pap.py
taskcoachlib/thirdparty/wmi.py
website.out
taskcoachlib/used.txt
website.in/all_changes.html
website.in/changes.html
website.in/md5digests.py
taskcoachlib/imported.txt
taskcoachlib/meta/revision.py
i18n.in/messages.pot
TaskCoach.egg-info
build
__pycache__
*.delta
*.eggs
*.egg
*.bak
*.log
*.old
.vscode
.idea
.venv
venv
