graft taskcoachlib
global-exclude *.py[cod]
global-exclude __pycache__
include icons.in/taskcoach.png
include build.in/linux_common/taskcoach.desktop
include build.in/debian/taskcoach.appdata.xml
include Welcome.tsk
